# Android Studio
.idea/
.gradle/
*.iml
build/
captures/
.externalNativeBuild/

# Local config
local.properties
*.keystore
*.jks

# OS generated
.DS_Store
Thumbs.db

# Log file
*.log

# APKs
*.apk
*.ap_

# Test reports
test-output/

# Android/Java
*.class
bin/
gen/

# Kotlin
*.kotlin_module

# Others
*.swp
